In [11]:
import datetime

year, month = map(int, input("년 월 입력(공백으로 구분): ").split())
#year, month = 2023, 4
first_date_of_month = datetime.datetime(year, month, 1)

#요일을 출력합니다.(0:월요일, 1:화요일, ..., 6:일요일)
start_day = first_date_of_month.weekday()
print(start_day)

#이어서 프로그래밍 합니다.
   
day =(year-1)% 400
day = (day//100)*5 + ((day % 100) - (day % 100)//4) + ((day % 100)//4)*2
day = day % 7
  
nly =[31, 28, 31, 30, 31, 30, 
      31, 31, 30, 31, 30, 31]
ly =[31, 29, 31, 30, 31, 30, 
     31, 31, 30, 31, 30, 31]
s = 0

if year % 4 == 0:
    for i in range(month-1):
        s+= ly[i]
else:
    for i in range(month-1):
        s+= nly[i]

day += s % 7
day = day % 7

space =''
space = space.rjust(2, ' ')
  
print(f"{year}년 {month}월".center(20))
print('SU', 'MO', 'TU', 'WE', 'TH', 'FR', 'SA')
  
if month == 9 or month == 4 or month == 6 or month == 11: 
    for i in range(31 + day):
          
        if i<= day:
            print(space, end =' ')
        else:
            print("{:02d}".format(i-day), end =' ')
            if (i + 1)% 7 == 0:
                print()
elif month == 2:
    if year % 4 == 0:
        p = 30
    else:
        p = 29
          
    for i in range(p + day):
        if i<= day:
            print(space, end =' ')
        else:
            print("{:02d}".format(i-day), end =' ')
            if (i + 1)% 7 == 0:
                print() 
else:
    for i in range(32 + day):
          
        if i<= day:
            print(space, end =' ')
        else:
            print("{:02d}".format(i-day), end =' ')
            if (i + 1)% 7 == 0:
                print()

년 월 입력(공백으로 구분):  2023 4

5
      2023년 4월
SU MO TU WE TH FR SA
                  01
02 03 04 05 06 07 08
09 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [12]:
def func1(*values):
    sum = 0
    for val in values:
        sum = val + 1
    return sum

result = func1(0,1,2)
print(result)

3

In [13]:
a = test_func1(1,2)
print(a)
def test_func1(x1, x2):
    a = x1+x2

NameError: name 'test_func1' is not defined

In [14]:
a = -8
b = 2
a += a+4*b
print(a+b)

-6

In [16]:
a = 0 if 5**2%5 != 0 else 1
print(a)

1

In [19]:
sum = 0
i = 0

while i <5:
    i+=1
    if i%2 == 0:
        sum+=i

sum

6

In [20]:
1%5

1

In [22]:
("파이썬"*3)[3:6]*1

'파이썬'

In [23]:
b = "ab"
b[:]

'ab'

In [24]:
a = 100
b = '0'
print('a+b=', a/int(b))

ZeroDivisionError: division by zero

In [25]:
t = (1,2,3)
tuple(enumerate(t))

((0, 1), (1, 2), (2, 3))

In [26]:
[[0]*3 for _ in range(4)]

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [28]:
a = 0
for i in range(1,5):
    for j in range(i+1, 6):
        a = i*j
    
a

20

In [30]:
a = "Why is six afraid of seven?"
b = "Because seven ate nine."

a[-7:-1] +b[7:-10]

' seven seven'