In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ta_20230613205043.csv", encoding='cp949', skiprows=6)
df

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0    \t2021-01-01  108     -4.2     -9.8      1.6
1    \t2021-01-02  108     -5.0     -8.4     -1.4
2    \t2021-01-03  108     -5.6     -9.1     -2.0
3    \t2021-01-04  108     -3.5     -8.4      0.3
4    \t2021-01-05  108     -5.5     -9.9     -2.1
..            ...  ...      ...      ...      ...
360  \t2021-12-27  108     -7.6    -12.9     -3.9
361  \t2021-12-28  108     -4.1     -8.5     -0.9
362  \t2021-12-29  108      0.4     -3.8      5.9
363  \t2021-12-30  108     -3.9     -6.8      0.2
364  \t2021-12-31  108     -6.7     -8.8     -3.9

[365 rows x 5 columns]

In [3]:
df['날짜'] = df['날짜'].str.replace('\t', '')
df

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0    2021-01-01  108     -4.2     -9.8      1.6
1    2021-01-02  108     -5.0     -8.4     -1.4
2    2021-01-03  108     -5.6     -9.1     -2.0
3    2021-01-04  108     -3.5     -8.4      0.3
4    2021-01-05  108     -5.5     -9.9     -2.1
..          ...  ...      ...      ...      ...
360  2021-12-27  108     -7.6    -12.9     -3.9
361  2021-12-28  108     -4.1     -8.5     -0.9
362  2021-12-29  108      0.4     -3.8      5.9
363  2021-12-30  108     -3.9     -6.8      0.2
364  2021-12-31  108     -6.7     -8.8     -3.9

[365 rows x 5 columns]

In [4]:
df.dtypes

날짜          object
지점           int64
평균기온(℃)    float64
최저기온(℃)    float64
최고기온(℃)    float64
dtype: object

In [5]:
# df['날짜'] = pd.to_datetime(df['날짜'])
# df.dtypes

In [6]:
df_sorted = df.sort_values('최고기온(℃)', ascending=False)
df_sorted

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
204  2021-07-24  108     31.7     26.9     36.5
205  2021-07-25  108     31.5     27.2     35.9
202  2021-07-22  108     31.2     26.5     35.9
203  2021-07-23  108     31.2     27.2     35.8
207  2021-07-27  108     31.1     27.8     35.7
..          ...  ...      ...      ...      ...
358  2021-12-25  108    -11.7    -14.4     -7.3
359  2021-12-26  108    -12.1    -15.5     -7.3
8    2021-01-09  108    -12.2    -16.6     -7.5
6    2021-01-07  108    -14.5    -16.5     -8.4
7    2021-01-08  108    -14.9    -18.6    -10.7

[365 rows x 5 columns]

In [7]:
hottest_date = df_sorted.iloc[0]['날짜']
hottest_temperature = df_sorted.iloc[0]['최고기온(℃)']

In [8]:
print(f'(본인이름)서울에서 기온이 가장 높았던 날짜는 {hottest_date}일이고, 기온은 {hottest_temperature}°c입니다.')

(본인이름)서울에서 기온이 가장 높았던 날짜는 2021-07-24일이고, 기온은 36.5°c입니다.