In [16]:
# 매개변수로 받은 함수를 5번 호출하는 함수
def call_5_times(func):
  for i in range(5):
    func()

# 함수 정의
def print_star():
  print('*')

# 함수를 매개변수로 전달
call_5_times(print_star)

# 람다를 매개변수로 전달
call_5_times(lambda: print_star())

*
*
*
*
*
*
*
*
*
*

In [17]:
# filter
def is_negative(x):
  return x < 0

def is_not_negative(x):
  return x>= 0

def is_zero(x):
  return x == 0

data = range(-5, 6)

print(list(filter(is_negative, data)))
print(list(filter(is_not_negative, data)))
print(list(filter(is_zero, data)))

[-5, -4, -3, -2, -1]
[0, 1, 2, 3, 4, 5]
[0]

In [20]:
# map
def add_2(x):
  return x + 2

def pow_2(x):
  return x * x

def my_abs(x):
  if x < 0:
    return -x
  return x

data = range(-5, 6)

print(list(data))
print(list(map(add_2, data)))
print(list(map(pow_2, data)))
print(list(map(my_abs, data)))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]
[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]
[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]

In [21]:
data = [-3, 2, 0, 4, -1, 0]

# map
print(list(map(lambda x : x+2, data)))

# filter
print(list(filter(lambda x : x < 0, data)))

[-1, 4, 2, 6, 1, 2]
[-3, -1]

In [25]:
!echo 'Hello, Python1' > basic.txt
!cat basic.txt

file1 = open('basic.txt', 'w')

file1.write('Hello, Python\n')
print('Hello, Python2', file=file1)
file1.close()

!cat basic.txt

Hello, Python1
Hello, Python
Hello, Python2

In [27]:
# Ramdom module
import random

last_name = list('김이박최정강조윤장임한오서진권황안송류정')
first_name = list('가나다라마바사아자차카타파하')

with open('info.csv', 'w') as data_file:
  for _ in range(10):
    name = random.choice(last_name) + random.choice(first_name)
    name += random.choice(first_name)

    # 정규분포(normalvariate)
    weight = random.normalvariate(60, 10)
    height = random.normalvariate(160, 15)

    print(f'{name}, {weight:.1f}, {height:.1f}', file=data_file)