In [2]:
ame = 2000
cafelatte = 3500
cappucino = 3500

price = 20*ame + cafelatte*15 + cappucino*15
print("총매출:", price)
print("순이익:", price - 100000)

총매출: 145000
순이익: 45000

In [7]:
month = int(input("월 입력:"))
if 3 <= month <= 5:
    season = '봄'
elif 6 <= month <= 8:
    season = '여름'
elif 9 <= month <= 11:
    season = '가을'
else:
    season = '겨울'
print('{}월은 {}'.format(month, season))

월 입력: 4

4월은 봄

In [10]:
import pandas as pd
df = pd.DataFrame({'food':['버거킹', '맥도날드', '롯데리아'],
                   'price':[5000, 4500, 4000],
                   'rating':[5.0, 4.5, 4.3]})

In [11]:
df

   food  price  rating
0   버거킹   5000     5.0
1  맥도날드   4500     4.5
2  롯데리아   4000     4.3

In [ ]:
d