In [38]:
numList=[
    ["20221234","홍길동",90],
    ["20221235","송중기",80],
    ["20221236","유아인",90],
    ["20221237","유혜진",100],
    ["20221238","김유정",95]
]
numList = sorted(numList, key = lambda x: x[2], reverse=True)
total = 0
for i in numList:
    total+=i[2]
average = total/len(numList)
print("학번 \t\t 이름\t 점수\t")
for i in numList:
    print(*i, sep="\t")
print("===============================")
print("전체 점수 총점 =", total)
print("전체 점수 평균 =", format(average, ".2f"))

학번 		 이름	 점수
20221237	유혜진	100
20221238	김유정	95
20221234	홍길동	90
20221236	유아인	90
20221235	송중기	80
===============================
전체 점수 총점 = 455
전체 점수 평균 = 91.00

In [18]:
numList = sorted(numList, key = lambda x: x[2], reverse=True)

In [19]:
print(numList)

[['20221237', '유혜진', 100], ['20221238', '김유정', 95], ['20221234', '홍길동', 90], ['20221236', '유아인', 90], ['20221235', '송중기', 80]]

In [21]:
total = 0
for i in numList:
    total+=i[2]
average = total/5
average

91.0

In [36]:
print("학번 \t\t 이름\t 점수\t")
for i in numList:
    print(*i, sep="\t")
print("===============================")
print("전체 점수 총점 =", total)
print("전체 점수 평균 =", format(average, ".2f"))

학번 		 이름	 점수
20221237	유혜진	100
20221238	김유정	95
20221234	홍길동	90
20221236	유아인	90
20221235	송중기	80
===============================
전체 점수 총점 = 455
전체 점수 평균 = 91.00