## read json.txt file

In [1]:
import json
with open('preference_list.json.txt', 'r') as file:
    total_preference_list = json.load(file)

In [2]:
boys_preference_list_dict = total_preference_list[0]

In [3]:
man_list = list(boys_preference_list_dict.keys())
man_list

['Boy_1',
 'Boy_2',
 'Boy_3',
 'Boy_4',
 'Boy_5',
 'Boy_6',
 'Boy_7',
 'Boy_8',
 'Boy_9',
 'Boy_10',
 'Boy_11',
 'Boy_12',
 'Boy_13',
 'Boy_14',
 'Boy_15',
 'Boy_16',
 'Boy_17',
 'Boy_18',
 'Boy_19',
 'Boy_20',
 'Boy_21',
 'Boy_22',
 'Boy_23',
 'Boy_24',
 'Boy_25',
 'Boy_26',
 'Boy_27',
 'Boy_28',
 'Boy_29',
 'Boy_30',
 'Boy_31',
 'Boy_32',
 'Boy_33',
 'Boy_34',
 'Boy_35',
 'Boy_36',
 'Boy_37',
 'Boy_38',
 'Boy_39',
 'Boy_40',
 'Boy_41',
 'Boy_42',
 'Boy_43',
 'Boy_44',
 'Boy_45',
 'Boy_46',
 'Boy_47',
 'Boy_48',
 'Boy_49',
 'Boy_50',
 'Boy_51',
 'Boy_52',
 'Boy_53',
 'Boy_54',
 'Boy_55',
 'Boy_56',
 'Boy_57',
 'Boy_58',
 'Boy_59',
 'Boy_60',
 'Boy_61',
 'Boy_62',
 'Boy_63',
 'Boy_64',
 'Boy_65',
 'Boy_66',
 'Boy_67',
 'Boy_68',
 'Boy_69',
 'Boy_70',
 'Boy_71',
 'Boy_72',
 'Boy_73',
 'Boy_74',
 'Boy_75',
 'Boy_76',
 'Boy_77',
 'Boy_78',
 'Boy_79',
 'Boy_80',
 'Boy_81',
 'Boy_82',
 'Boy_83',
 'Boy_84',
 'Boy_85',
 'Boy_86',
 'Boy_87',
 'Boy_88',
 'Boy_89',
 'Boy_90',
 'Boy_91',
 'Boy_92',
 'Boy_93',
 'Boy_94',
 'Boy_95',
 'Boy_96',
 'Boy_97',
 'Boy_98',
 'Boy_99',
 'Boy_100',
 'Boy_101',
 'Boy_102',
 'Boy_103',
 'Boy_104',
 'Boy_105',
 'Boy_106',
 'Boy_107',
 'Boy_108',
 'Boy_109',
 'Boy_110',
 'Boy_111',
 'Boy_112',
 'Boy_113',
 'Boy_114',
 'Boy_115',
 'Boy_116',
 'Boy_117',
 'Boy_118',
 'Boy_119',
 'Boy_120']

In [4]:
boys_preference_list = list(boys_preference_list_dict.values())
len(boys_preference_list)

120

In [5]:
girls_preference_list_dict = total_preference_list[1]

In [6]:
women_list = list(girls_preference_list_dict.keys())

In [7]:
girls_preference_list = list(girls_preference_list_dict.values())
len(girls_preference_list)

120

In [8]:
%pylab inline
import pandas as pd
import numpy as np
from collections import Counter
from copy import copy

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [10]:
df_boys = pd.DataFrame({'name':man_list,
                   'is_free':[True for i in range(len(man_list))],
                   'gender':['male' for i in range(len(man_list))], 
                   'preferences':boys_preference_list,
                   'engaged_to':[np.nan for i in range(len(man_list))],
                   'proposed_to':[np.nan for i in range(len(man_list))]
                  })

In [11]:
df_boys

,name,is_free,gender,preferences,engaged_to,proposed_to
0,Boy_1,True,male,"[Girl_caebd, Girl_eacbd, Girl_bcade, Girl_baed...",NaN,NaN
1,Boy_2,True,male,"[Girl_beacd, Girl_aebdc, Girl_eacdb, Girl_edac...",NaN,NaN
2,Boy_3,True,male,"[Girl_aedcb, Girl_ecdab, Girl_ceadb, Girl_dace...",NaN,NaN
3,Boy_4,True,male,"[Girl_cadbe, Girl_deacb, Girl_bdace, Girl_aebd...",NaN,NaN
4,Boy_5,True,male,"[Girl_debac, Girl_edcba, Girl_cabde, Girl_cdea...",NaN,NaN
...,...,...,...,...,...,...
115,Boy_116,True,male,"[Girl_eacdb, Girl_decab, Girl_cdaeb, Girl_dbec...",NaN,NaN
116,Boy_117,True,male,"[Girl_dcbae, Girl_bacde, Girl_cdbae, Girl_cabe...",NaN,NaN
117,Boy_118,True,male,"[Girl_bedca, Girl_eacdb, Girl_dceab, Girl_becd...",NaN,NaN
118,Boy_119,True,male,"[Girl_dbeac, Girl_cbade, Girl_adecb, Girl_adbe...",NaN,NaN
119,Boy_120,True,male,"[Girl_eacdb, Girl_ecabd, Girl_bedac, Girl_badc...",NaN,NaN

In [13]:
df_girls = pd.DataFrame({'name':women_list,
                   'is_free':[True for i in range(len(women_list))],
                   'gender':['male' for i in range(len(women_list))], 
                   'preferences':girls_preference_list,
                   'engaged_to':[np.nan for i in range(len(women_list))],
                   'proposed_to':[np.nan for i in range(len(women_list))]
                  })

In [14]:
df_girls

,name,is_free,gender,preferences,engaged_to,proposed_to
0,Girl_abcde,True,male,"[Boy_94, Boy_6, Boy_1, Boy_30, Boy_86, Boy_113...",NaN,NaN
1,Girl_abced,True,male,"[Boy_114, Boy_44, Boy_57, Boy_39, Boy_56, Boy_...",NaN,NaN
2,Girl_abdce,True,male,"[Boy_1, Boy_5, Boy_37, Boy_96, Boy_93, Boy_8, ...",NaN,NaN
3,Girl_abdec,True,male,"[Boy_33, Boy_62, Boy_95, Boy_98, Boy_17, Boy_7...",NaN,NaN
4,Girl_abecd,True,male,"[Boy_1, Boy_66, Boy_79, Boy_9, Boy_20, Boy_101...",NaN,NaN
...,...,...,...,...,...,...
115,Girl_edacb,True,male,"[Boy_7, Boy_28, Boy_81, Boy_63, Boy_109, Boy_6...",NaN,NaN
116,Girl_edbac,True,male,"[Boy_113, Boy_71, Boy_69, Boy_47, Boy_10, Boy_...",NaN,NaN
117,Girl_edbca,True,male,"[Boy_7, Boy_30, Boy_76, Boy_84, Boy_75, Boy_12...",NaN,NaN
118,Girl_edcab,True,male,"[Boy_62, Boy_24, Boy_65, Boy_48, Boy_114, Boy_...",NaN,NaN
119,Girl_edcba,True,male,"[Boy_2, Boy_69, Boy_51, Boy_8, Boy_63, Boy_30,...",NaN,NaN

In [15]:
boys_preference_dict = {}
girls_preference_dict = {}
for index, girl in enumerate(women_list):
    boys_preference_dict[girl] = boys_preference_list[index].index(girl)

for index, boy in enumerate(man_list):
    girls_preference_dict[boy] = girls_preference_list[index].index(boy)

In [16]:
man_df = pd.DataFrame(boys_preference_dict, index = man_list)
man_df

,Girl_abcde,Girl_abced,Girl_abdce,Girl_abdec,Girl_abecd,Girl_abedc,Girl_acbde,Girl_acbed,Girl_acdbe,Girl_acdeb,...,Girl_ecbad,Girl_ecbda,Girl_ecdab,Girl_ecdba,Girl_edabc,Girl_edacb,Girl_edbac,Girl_edbca,Girl_edcab,Girl_edcba
Boy_1,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_2,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_3,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_4,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_5,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Boy_116,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_117,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_118,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_119,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28
Boy_120,30,62,42,24,112,26,52,11,8,75,...,44,81,74,0,32,23,61,62,87,28

In [17]:
women_df = pd.DataFrame(girls_preference_dict, index = women_list)
women_df

,Boy_1,Boy_2,Boy_3,Boy_4,Boy_5,Boy_6,Boy_7,Boy_8,Boy_9,Boy_10,...,Boy_111,Boy_112,Boy_113,Boy_114,Boy_115,Boy_116,Boy_117,Boy_118,Boy_119,Boy_120
Girl_abcde,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_abced,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_abdce,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_abdec,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_abecd,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Girl_edacb,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_edbac,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_edbca,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_edcab,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98
Girl_edcba,2,13,30,115,85,54,80,51,109,34,...,110,97,25,115,42,97,41,87,105,98

In [30]:
women_df.columns

Index(['Boy_1', 'Boy_2', 'Boy_3', 'Boy_4', 'Boy_5', 'Boy_6', 'Boy_7', 'Boy_8',
       'Boy_9', 'Boy_10',
       ...
       'Boy_111', 'Boy_112', 'Boy_113', 'Boy_114', 'Boy_115', 'Boy_116',
       'Boy_117', 'Boy_118', 'Boy_119', 'Boy_120'],
      dtype='object', length=120)

In [37]:
women_df.loc['Girl_dbeca', 'Boy_1']

2

## Gale-Shapley algorithm

In [20]:
# dict to control which women each man can make proposals
women_available = {man:women_list for man in man_list}
# waiting list of men that were able to create pair on each iteration
waiting_list = []
# dict to store created pairs
proposals = {}
# variable to count number of iterations
count = 0

In [39]:
# while not all men have pairs
while len(waiting_list)<len(man_list):
    # man makes proposals
    for man in man_list:
        if man not in waiting_list:
            # each man make proposal to the top women from it's list
            women = women_available[man]
            best_choice = man_df.loc[man][man_df.loc[man].index.isin(women)].idxmin()
            proposals[(man, best_choice)]=(man_df.loc[man][best_choice],
                                                 women_df.loc[best_choice][man])
    # if women have more than one proposals 
    # she will choose the best option
    overlays = Counter([key[1] for key in proposals.keys()])
    # cycle to choose the best options
    for women in overlays.keys():
        if overlays[women]>1:
            # pairs to drop from proposals
            pairs_to_drop = sorted({pair: proposals[pair] for pair in proposals.keys() 
                    if women in pair}.items(), 
                   key=lambda x: x[1][1]
                  )[1:]
            # if man was rejected by woman
            # there is no pint for him to make proposal 
            # second time to the same woman
            for p_to_drop in pairs_to_drop:
                del proposals[p_to_drop[0]]
                _women = copy(women_available[p_to_drop[0][0]])
                _women.remove(p_to_drop[0][1])
                women_available[p_to_drop[0][0]] = _women
    # man who successfully created pairs must be added to the waiting list 
    waiting_list = [man[0] for man in proposals.keys()]
    # update counter
    count+=1

## Stable pairs

In [42]:
proposals

{('Boy_1', 'Girl_dbeca'): (0, 2),
 ('Boy_86', 'Girl_ecdba'): (0, 2),
 ('Boy_23', 'Girl_ecadb'): (1, 5),
 ('Boy_67', 'Girl_bceda'): (3, 6),
 ('Boy_40', 'Girl_cadeb'): (3, 7),
 ('Boy_99', 'Girl_eacbd'): (3, 7),
 ('Boy_87', 'Girl_cdeab'): (5, 12),
 ('Boy_2', 'Girl_adbec'): (6, 13),
 ('Boy_47', 'Girl_cbdae'): (6, 13),
 ('Boy_80', 'Girl_acdbe'): (8, 17),
 ('Boy_88', 'Girl_adcbe'): (9, 18),
 ('Boy_22', 'Girl_aecdb'): (9, 19),
 ('Boy_36', 'Girl_aebdc'): (10, 19),
 ('Boy_83', 'Girl_acbed'): (11, 20),
 ('Boy_25', 'Girl_acedb'): (11, 22),
 ('Boy_55', 'Girl_adecb'): (13, 23),
 ('Boy_97', 'Girl_beadc'): (14, 24),
 ('Boy_113', 'Girl_dbcea'): (15, 25),
 ('Boy_100', 'Girl_cebad'): (18, 26),
 ('Boy_94', 'Girl_eabcd'): (20, 27),
 ('Boy_81', 'Girl_ceabd'): (22, 28),
 ('Boy_91', 'Girl_dcabe'): (22, 28),
 ('Boy_16', 'Girl_edacb'): (23, 29),
 ('Boy_53', 'Girl_abdec'): (24, 29),
 ('Boy_3', 'Girl_abedc'): (26, 30),
 ('Boy_24', 'Girl_edcba'): (28, 33),
 ('Boy_10', 'Girl_cadbe'): (29, 34),
 ('Boy_82', 'Girl_abcde'): (30, 34),
 ('Boy_45', 'Girl_bdeac'): (30, 37),
 ('Boy_12', 'Girl_cdabe'): (32, 39),
 ('Boy_93', 'Girl_decab'): (32, 39),
 ('Boy_57', 'Girl_edabc'): (32, 40),
 ('Boy_117', 'Girl_ebcda'): (33, 41),
 ('Boy_66', 'Girl_aebcd'): (35, 42),
 ('Boy_115', 'Girl_cbead'): (35, 42),
 ('Boy_32', 'Girl_debac'): (39, 45),
 ('Boy_41', 'Girl_eadbc'): (39, 50),
 ('Boy_44', 'Girl_bcade'): (41, 50),
 ('Boy_8', 'Girl_cdbea'): (41, 51),
 ('Boy_110', 'Girl_debca'): (41, 52),
 ('Boy_6', 'Girl_abdce'): (42, 54),
 ('Boy_37', 'Girl_baecd'): (43, 54),
 ('Boy_68', 'Girl_dbeac'): (44, 56),
 ('Boy_11', 'Girl_ecbad'): (44, 58),
 ('Boy_33', 'Girl_cdeba'): (45, 59),
 ('Boy_50', 'Girl_dabce'): (45, 59),
 ('Boy_101', 'Girl_ebdca'): (46, 59),
 ('Boy_30', 'Girl_becad'): (47, 61),
 ('Boy_34', 'Girl_becda'): (47, 62),
 ('Boy_72', 'Girl_daebc'): (47, 62),
 ('Boy_78', 'Girl_bcaed'): (48, 62),
 ('Boy_109', 'Girl_dacbe'): (48, 63),
 ('Boy_70', 'Girl_adceb'): (50, 64),
 ('Boy_29', 'Girl_baced'): (50, 65),
 ('Boy_38', 'Girl_eacdb'): (50, 65),
 ('Boy_21', 'Girl_adebc'): (51, 66),
 ('Boy_43', 'Girl_aedcb'): (51, 66),
 ('Boy_59', 'Girl_ebcad'): (51, 67),
 ('Boy_96', 'Girl_acbde'): (52, 67),
 ('Boy_103', 'Girl_eabdc'): (56, 69),
 ('Boy_107', 'Girl_cedba'): (57, 70),
 ('Boy_73', 'Girl_bdcae'): (58, 71),
 ('Boy_65', 'Girl_deabc'): (59, 72),
 ('Boy_90', 'Girl_ceadb'): (60, 72),
 ('Boy_64', 'Girl_daceb'): (60, 73),
 ('Boy_62', 'Girl_cdbae'): (61, 74),
 ('Boy_71', 'Girl_ecabd'): (61, 74),
 ('Boy_108', 'Girl_edbac'): (61, 74),
 ('Boy_74', 'Girl_abced'): (62, 77),
 ('Boy_49', 'Girl_bacde'): (62, 79),
 ('Boy_52', 'Girl_cebda'): (62, 79),
 ('Boy_58', 'Girl_edbca'): (62, 79),
 ('Boy_7', 'Girl_eadcb'): (63, 80),
 ('Boy_14', 'Girl_bcdae'): (64, 81),
 ('Boy_95', 'Girl_adbce'): (65, 81),
 ('Boy_54', 'Girl_bdcea'): (65, 83),
 ('Boy_60', 'Girl_dceab'): (65, 83),
 ('Boy_51', 'Girl_cbdea'): (70, 84),
 ('Boy_106', 'Girl_deacb'): (71, 84),
 ('Boy_5', 'Girl_aecbd'): (73, 85),
 ('Boy_75', 'Girl_ecdab'): (74, 87),
 ('Boy_118', 'Girl_acdeb'): (75, 87),
 ('Boy_31', 'Girl_bcead'): (75, 88),
 ('Boy_63', 'Girl_bcdea'): (80, 88),
 ('Boy_26', 'Girl_bedac'): (80, 89),
 ('Boy_98', 'Girl_dcaeb'): (81, 89),
 ('Boy_13', 'Girl_decba'): (81, 91),
 ('Boy_42', 'Girl_ecbda'): (81, 91),
 ('Boy_105', 'Girl_dabec'): (82, 91),
 ('Boy_15', 'Girl_ebdac'): (83, 93),
 ('Boy_48', 'Girl_bdace'): (86, 95),
 ('Boy_112', 'Girl_dceba'): (86, 97),
 ('Boy_116', 'Girl_edcab'): (87, 97),
 ('Boy_27', 'Girl_bedca'): (88, 98),
 ('Boy_85', 'Girl_cbade'): (90, 98),
 ('Boy_120', 'Girl_dcbae'): (90, 98),
 ('Boy_77', 'Girl_ebacd'): (90, 102),
 ('Boy_19', 'Girl_cabde'): (91, 104),
 ('Boy_35', 'Girl_caedb'): (93, 104),
 ('Boy_104', 'Girl_cdaeb'): (94, 104),
 ('Boy_61', 'Girl_dbace'): (94, 105),
 ('Boy_119', 'Girl_daecb'): (95, 105),
 ('Boy_76', 'Girl_badce'): (97, 106),
 ('Boy_79', 'Girl_dbcae'): (97, 107),
 ('Boy_17', 'Girl_dcbea'): (98, 108),
 ('Boy_92', 'Girl_cbeda'): (100, 108),
 ('Boy_9', 'Girl_badec'): (102, 109),
 ('Boy_56', 'Girl_bdeca'): (102, 109),
 ('Boy_102', 'Girl_acebd'): (104, 110),
 ('Boy_111', 'Girl_cedab'): (106, 110),
 ('Boy_46', 'Girl_bdaec'): (107, 112),
 ('Boy_4', 'Girl_ebadc'): (107, 115),
 ('Boy_18', 'Girl_beacd'): (108, 115),
 ('Boy_39', 'Girl_dbaec'): (111, 115),
 ('Boy_114', 'Girl_abecd'): (112, 115),
 ('Boy_20', 'Girl_aedbc'): (112, 116),
 ('Boy_28', 'Girl_baedc'): (113, 116),
 ('Boy_84', 'Girl_caebd'): (113, 116),
 ('Boy_89', 'Girl_cbaed'): (116, 116),
 ('Boy_69', 'Girl_cabed'): (119, 119)}

In [41]:
count

120

In [47]:
1

-10.999999999997282

In [45]:
e

2.718281828459045