In [53]:
import sys
import os
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import chromedriver_autoinstaller
import time
from tqdm import tqdm_notebook
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import warnings

warnings.filterwarnings('ignore')

chrome_path = chromedriver_autoinstaller.install()
chrome_options = Options()
chrome_options.add_argument('--disable-gpu')
chrome_options.add_argument('--no-sandbox')
driver = webdriver.Chrome(chrome_path, chrome_options=chrome_options)

wait = WebDriverWait(driver, 10)  # 최대 10초까지 대기

season_data = {}  # 시즌 데이터를 저장할 딕셔너리

for season in range(19, 20):
    print(season)
    season_data[season] = {}  # 각 시즌에 대한 딕셔너리 생성
    for number in range(1, 2):
        sitename = f'https://www.kovo.co.kr/game/v-league/11141_game-summary.asp?season={season:03d}&g_part=201&r_round=1&g_num={number:d}&'

        print(sitename)

        driver.get(sitename)

        # 제공된 CSS 선택자를 사용하여 각 div 요소를 처리
        css_selectors = ["#team1 > div > div.wrp_lst > table.lst_board.lst_fixed.w123",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_1",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_2",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_3",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_4",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_5"
                        ]

        dfs = []  # DataFrame들을 저장할 리스트

        for idx, selector in enumerate(css_selectors):
            div_element = wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, selector))) #해당 div 요소가 뜰때까지 대기했다가 실행
            div_inner_html = div_element.get_attribute('innerHTML')
            soup = BeautifulSoup(div_inner_html, "html.parser")

            # 테이블 데이터 추출
            table_data = []
            for row in soup.find_all("tr"):
                # 중첩된 테이블 제외
                if row.find("table"):
                    continue
                row_data = []
                for cell in row.find_all(["th", "td"]):
                    row_data.append(cell.get_text())
                table_data.append(row_data)

            df = pd.DataFrame(table_data)
            dfs.append(df)  # DataFrame을 리스트에 추가

        # x축을 따라 DataFrame들을 합침
        combined_df = pd.concat(dfs, axis=1)

        season_data[season] = combined_df  # DataFrame을 시즌 딕셔너리에 저장

# 드라이버 종료
driver.quit()

# 저장된 DataFrame들을 확인
for season, df in season_data.items():
    print(f"Season {season}")
    print(df)
    print('---')

CHROME > 106.0.5249.21, using mac_arm64
19
https://www.kovo.co.kr/game/v-league/11141_game-summary.asp?season=019&g_part=201&r_round=1&g_num=1&
Season 19
     0         1     0     1     2     3     4     5     6     7   ...    5   \
0   No.        이름  출전세트    득점  공격종합  None  None  None  None  None  ...  None
1    18   링컨 (OP)  1set  2set  3set  4set  5set    시도    성공  공격차단  ...    시도
2    10  정지석 (OH)     O     O     O     O          19    34    19  ...     7
3    23  김민재 (MB)     O     O     O     O          12    18     9  ...     9
4     1  김규민 (MB)     O     O     O     O          10     8     7  ...    13
5     9  곽승석 (OH)     O     O     O     O          10     7     6  ...    18
6    17  임동혁 (OP)     O     O     O     O           7    13     7  ...     3
7     2   한선수 (S)    2     2     2     2            7     7     6  ...     3
8    14   오은렬 (L)     O     O     O     O           3     1     1  ...     2
9     5   유광우 (S)     O     O     O     O           0     0     0  ...     0
10   15  임재영 (OH)                18    18           0     0     0  ...     0
11   16  정한용 (OH)    1     1                        0     0     0  ...     0
12  NaN       NaN    9     9     9     1            0     0     0  ...     0

      6     7     8     9     10     11    12    13    14
0   None  None  None  None  None   None  None  None  None
1     성공  유효블락    실패    범실   세트당    점유율  어시스트  None  None
2      0     3     3     0  0.00  12.73     1     0     7
3      1     3     4     0  0.25  16.36     4     0     7
4      3     3     5     1  0.75  23.64     1     0     4
5      4     7     5     1  1.00  32.73     1     0     1
6      0     1     0     1  0.00   5.45     1     0     6
7      1     0     1     0  0.25   5.45     0     0     0
8      2     0     0     0  0.50   3.64     0     0     2
9      0     0     0     0  0.00   0.00     0     0     0
10     0     0     0     0  0.00   0.00     0     0     0
11     0     0     0     0  0.00   0.00     0     0     1
12     0     0     0     0  0.00   0.00     0     0     0

[13 rows x 81 columns]
---

In [60]:
df.iloc[[1]]

,0,1,0,1,2,3,4,5,6,7,...,5,6,7,8,9,10,11,12,13,14
1,18,링컨 (OP),1set,2set,3set,4set,5set,시도,성공,공격차단,...,시도,성공,유효블락,실패,범실,세트당,점유율,어시스트,None,None

In [50]:
import sys
import os
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import chromedriver_autoinstaller
import time
from tqdm import tqdm_notebook
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import warnings

warnings.filterwarnings('ignore')

chrome_path = chromedriver_autoinstaller.install()
chrome_options = Options()
chrome_options.add_argument('--disable-gpu')
chrome_options.add_argument('--no-sandbox')
driver = webdriver.Chrome(chrome_path, chrome_options=chrome_options)

wait = WebDriverWait(driver, 10)  # Wait up to 10 seconds

season_data = {}  # Dictionary to store season data

for season in range(19, 20):
    print(season)
    season_data[season] = {}  # Create a dictionary for each season
    for number in range(1, 2):
        sitename = f'https://www.kovo.co.kr/game/v-league/11141_game-summary.asp?season={season:03d}&g_part=201&r_round=1&g_num={number:d}&'

        print(sitename)

        driver.get(sitename)

        # Process each div element using the provided CSS selectors
        css_selectors = ["#team1 > div > div.wrp_lst > table.lst_board.lst_fixed.w123",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_1",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_2",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_3",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_4",
                         "#team1 > div > div.wrp_lst > table.lst_board.lst_scroll.w837.record_5"
                        ]

        dfs = []  # List to store DataFrames

        for idx, selector in enumerate(css_selectors):
            div_element = wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, selector)))
            div_inner_html = div_element.get_attribute('innerHTML')
            soup = BeautifulSoup(div_inner_html, "html.parser")

            # Extract table data
            table_data = []
            for row in soup.find_all("tr"):
                # Exclude nested tables
                if row.find("table"):
                    continue
                row_data = []
                for cell in row.find_all(["th", "td"]):
                    row_data.append(cell.get_text())
                table_data.append(row_data)

            # Handle the multiheader
            table_data[0] = [''.join(x) for x in zip(table_data[0], table_data[1])]
            table_data.pop(1)

            df = pd.DataFrame(table_data)
            dfs.append(df)  # Append the DataFrame to the list

        # Concatenate DataFrames along the x-axis
        combined_df = pd.concat(dfs, axis=1)

        season_data[season] = combined_df  # Store DataFrame in the season dictionary

# Close the driver
driver.quit()

# Check the stored DataFrames
for season, df in season_data.items():
    print(f"Season {season}")
    print(df)
    print('---')

CHROME > 106.0.5249.21, using mac_arm64
19
https://www.kovo.co.kr/game/v-league/11141_game-summary.asp?season=019&g_part=201&r_round=1&g_num=1&
Season 19
       0          1         0       1         2     3     4     5     6   \
0   No.18  이름링컨 (OP)  출전세트1set  득점2set  공격종합3set  None  None  None  None
1      10   정지석 (OH)         O       O         O     O          19    34
2      23   김민재 (MB)         O       O         O     O          12    18
3       1   김규민 (MB)         O       O         O     O          10     8
4       9   곽승석 (OH)         O       O         O     O          10     7
5      17   임동혁 (OP)         O       O         O     O           7    13
6       2    한선수 (S)        2       2         2     2            7     7
7      14    오은렬 (L)         O       O         O     O           3     1
8       5    유광우 (S)         O       O         O     O           0     0
9      15   임재영 (OH)                          18    18           0     0
10     16   정한용 (OH)        1       1                            0     0
11    NaN        NaN        9       9         9     1            0     0

      7   ...    5     6     7     8     9     10     11    12    13    14
0   None  ...  None  None  None  None  None  None   None  None  None  None
1     19  ...     7     0     3     3     0  0.00  12.73     1     0     7
2      9  ...     9     1     3     4     0  0.25  16.36     4     0     7
3      7  ...    13     3     3     5     1  0.75  23.64     1     0     4
4      6  ...    18     4     7     5     1  1.00  32.73     1     0     1
5      7  ...     3     0     1     0     1  0.00   5.45     1     0     6
6      6  ...     3     1     0     1     0  0.25   5.45     0     0     0
7      1  ...     2     2     0     0     0  0.50   3.64     0     0     2
8      0  ...     0     0     0     0     0  0.00   0.00     0     0     0
9      0  ...     0     0     0     0     0  0.00   0.00     0     0     0
10     0  ...     0     0     0     0     0  0.00   0.00     0     0     1
11     0  ...     0     0     0     0     0  0.00   0.00     0     0     0

[12 rows x 81 columns]
---

In [52]:
combined_df

,0,1,0,1,2,3,4,5,6,7,...,5,6,7,8,9,10,11,12,13,14
0,No.18,이름링컨 (OP),출전세트1set,득점2set,공격종합3set,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,10,정지석 (OH),O,O,O,O,,19,34,19,...,7,0,3,3,0,0.00,12.73,1,0,7
2,23,김민재 (MB),O,O,O,O,,12,18,9,...,9,1,3,4,0,0.25,16.36,4,0,7
3,1,김규민 (MB),O,O,O,O,,10,8,7,...,13,3,3,5,1,0.75,23.64,1,0,4
4,9,곽승석 (OH),O,O,O,O,,10,7,6,...,18,4,7,5,1,1.00,32.73,1,0,1
5,17,임동혁 (OP),O,O,O,O,,7,13,7,...,3,0,1,0,1,0.00,5.45,1,0,6
6,2,한선수 (S),2,2,2,2,,7,7,6,...,3,1,0,1,0,0.25,5.45,0,0,0
7,14,오은렬 (L),O,O,O,O,,3,1,1,...,2,2,0,0,0,0.50,3.64,0,0,2
8,5,유광우 (S),O,O,O,O,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,0
9,15,임재영 (OH),,,18,18,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,0
10,16,정한용 (OH),1,1,,,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,1
11,NaN,NaN,9,9,9,1,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,0

In [46]:
for season, df in season_data.items():
    # 첫 번째 행 삭제
    df = df.iloc[1:]
    # 새로운 열 이름 설정
    df.columns = df.iloc[0]
    # 이제 불필요한 행 삭제
    df = df.iloc[1:]
    season_data[season] = df  # 수정된 DataFrame 저장

In [49]:
season_data[season]

1,18,링컨 (OP),1set,2set,3set,4set,5set,시도,성공,공격차단,...,시도,성공,유효블락,실패,범실,세트당,점유율,어시스트,None,None
2,10,정지석 (OH),O,O,O,O,,19,34,19,...,7,0,3,3,0,0.00,12.73,1,0,7
3,23,김민재 (MB),O,O,O,O,,12,18,9,...,9,1,3,4,0,0.25,16.36,4,0,7
4,1,김규민 (MB),O,O,O,O,,10,8,7,...,13,3,3,5,1,0.75,23.64,1,0,4
5,9,곽승석 (OH),O,O,O,O,,10,7,6,...,18,4,7,5,1,1.00,32.73,1,0,1
6,17,임동혁 (OP),O,O,O,O,,7,13,7,...,3,0,1,0,1,0.00,5.45,1,0,6
7,2,한선수 (S),2,2,2,2,,7,7,6,...,3,1,0,1,0,0.25,5.45,0,0,0
8,14,오은렬 (L),O,O,O,O,,3,1,1,...,2,2,0,0,0,0.50,3.64,0,0,2
9,5,유광우 (S),O,O,O,O,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,0
10,15,임재영 (OH),,,18,18,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,0
11,16,정한용 (OH),1,1,,,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,1
12,NaN,NaN,9,9,9,1,,0,0,0,...,0,0,0,0,0,0.00,0.00,0,0,0